<div>
    <h2 id="page-heading">
        <span>Turns</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-turn" [routerLink]="['/turn/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Turn
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="turns?.length === 0">
        <span>No turns found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="turns && turns.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead class="text-left ">
                <tr>
                    <th scope="col" ><span>Position</span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col" ><span>Patient</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let turn of turns ;trackBy: trackId">

                    <td>{{ turn.position }}</td>
                    <td>{{ turn.status }}</td>
                    <td>
                        <div *ngIf="turn.patient">
                            <a [routerLink]="['/patient', turn.patient?.id, 'view']" >{{ turn.patient?.lastName  }}, {{ turn.patient?.firstName  }}  </a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">

                            <button type="submit"
                                    [routerLink]="['/turn', turn.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit" (click)="delete(turn)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
