<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="turn">
            <h2><span>Turn</span> {{ turn.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Position</span></dt>
                <dd>
                    <span>{{ turn.position }}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{ turn.createDate }}</span>
                </dd>
                <dt><span>Last Update Date</span></dt>
                <dd>
                    <span>{{ turn.lastUpdateDate }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ turn.status }}</span>
                </dd>
                <dt><span>Patient</span></dt>
                <dd>
                    <div *ngIf="turn.patient">
                        <a [routerLink]="['/patient', turn.patient?.id, 'view']">{{ turn.patient?.id }}</a>
                    </div>
                </dd>
                <dt><span>Patient</span></dt>
                <dd>
                    <div *ngIf="turn.patient">
                        <a [routerLink]="['/patient', turn.patient?.id, 'view']">{{ turn.patient?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/turn', turn.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
