<div>
    <h2 id="page-heading">
        <span>Medical History Configs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medical-history-config" [routerLink]="['/medical-history-config/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Medical History Config
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="medicalHistoryConfigs?.length === 0">
        <span>No medicalHistoryConfigs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="medicalHistoryConfigs && medicalHistoryConfigs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Key</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Create Date</span></th>
                    <th scope="col" ><span>Last Update Date</span></th>
                    <th scope="col" ><span>Medical History</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicalHistoryConfig of medicalHistoryConfigs ;trackBy: trackId">
                    <td><a [routerLink]="['/medical-history-config', medicalHistoryConfig.id, 'view']">{{ medicalHistoryConfig.id }}</a></td>
                    <td>{{ medicalHistoryConfig.key }}</td>
                    <td>{{ medicalHistoryConfig.description }}</td>
                    <td>{{ medicalHistoryConfig.createDate | date:'medium' }}</td>
                    <td>{{ medicalHistoryConfig.lastUpdateDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="medicalHistoryConfig.medicalHistory">
                            <a [routerLink]="['/medical-history', medicalHistoryConfig.medicalHistory?.id, 'view']" >{{ medicalHistoryConfig.medicalHistory?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/medical-history-config', medicalHistoryConfig.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/medical-history-config', medicalHistoryConfig.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(medicalHistoryConfig)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
