<div>
    <h2 id="page-heading">
        <span>Record Items</span>

        <button   *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary ml-1  float-right jh-create-entity create-record-item" [routerLink]="['/record-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create Record Item ( Manual )
            </span>
        </button>

        <button id="jh-create-entity2" class="btn btn-primary ml-1 float-right jh-create-entity create-record-item" [routerLink]="['/record-item/new/record/', idRecord]">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Nueva Entrada
            </span>
        </button>
        <button id="jh-see-medical-history" class="btn btn-info ml-1 float-right jh-create-entity create-record-item" [routerLink]="['/medical-history/', idMedicalHistory,'view']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Ver Historial Medico
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="recordItems?.length === 0">
        <span>No recordItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="recordItems && recordItems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Create Date</span></th>
                    <th scope="col" ><span>Last Update Date</span></th>
<!--                    <th scope="col" ><span>Record</span></th>-->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recordItem of recordItems ;trackBy: trackId">
                    <td><a [routerLink]="['/record-item', recordItem.id, 'view']">{{ recordItem.id }}</a></td>
                    <td>{{ recordItem.description }}</td>
                    <td>{{ recordItem.createDate | date:'medium' }}</td>
                    <td>{{ recordItem.lastUpdateDate | date:'medium' }}</td>
<!--                    <td>-->
<!--                        <div *ngIf="recordItem.record">-->
<!--                            <a [routerLink]="['/record', recordItem.record?.id, 'view']" >{{ recordItem.record?.id }}</a>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/record-item', recordItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/record-item', recordItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(recordItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
